.navbar {
    background-color: rgb(54, 54, 131);
    color: white;
}

.img-logo {
    width: 50px;
    margin-left: 10px;
    border-radius: 20px;
}

.nav_menu {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}