
/* Clases Layout Principal */
.navbar {
  background-color: var(--foreground);
  border-radius: 10px;
  color: white;
}

.contentArea {
  flex-grow: 1;
}

.pageWrapper {
  min-height: 100vh;
}

.wrapper {
  max-width: 3840px;
  margin: 100px auto;
}

.sidebarArea {
  flex-shrink: 0;
  font-size: 13px;
}

.sidebar {
  padding: 0.5rem 1rem;
  padding-top: 100px;
  background-color: var(--foreground);
  color: var(--background);
  min-height: 100vh;
  border-radius: 10px;

}