:root {
  --bar-width: 40px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #19194b;
  --background: white;
  --hamburger-margin: 22px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}



.sidebar {
  transition: translate var(--animation-timing);
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
  border-radius: 10px;
}


.profile{
  margin-top: 615px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

-- BARS

.navbar {
  background-color: rgb(54, 54, 131);
  border-radius: 10px;
}


